build/
*.jou
*.log
*.str
*.cache/
*.runs/
*.sim/
*.hw/
*.ip_user_files/
*.Xil/
.xilinx_simlibs/
.Xil/
xsim.dir/
.nfs*
*.wdb
*.ila
hyperbus_controller_tb.wdb
.cxl/
*.pb
.cxl*
.DS_Store
._.DS_Store
logs/
rdf0*/
doc/rdf0*/
doc/scu35-boot-and-setup-guide-20250418_WtMkX.pdf
doc/ug1713*.pdf
doc/xtp808*/
simlibs/
compile_simlib.log.save
hyperbus_test_proj/hyperbus_test_proj.gen/
hyperbus_test_proj/hyperbus_test_proj.srcs/utils_1/
sim_m/xsim/runs/
**/compile_commands.json
vitis_ws4/_ide/.peers.ini
vitis_ws4/_ide/.vitisPlatformRepo.json
vitis_ws4/_ide/version.ini
vitis_ws4/_ide/workspace_journal*.py
vitis_ws4/bootloader_hdio/_ide/bootimage/*.bit
vitis_ws4/bootloader_hdio/_ide/bootimage/*.rcdo
vitis_ws4/bootloader_hdio/_ide/bootimage/resources/*.pdi
vitis_ws4/platform/microblaze_0/standalone_microblaze_0/bsp/lib/
vitis_ws4/platform/microblaze_0/standalone_microblaze_0/bsp/libsrc/build_configs/gen_bsp/
