build/
*.jou
*.log
*.str
*.cache/
*.runs/
*.sim/
*.hw/
*.ip_user_files/
*.Xil/
.xilinx_simlibs/
.Xil/
xsim.dir/
.nfs*
*.wdb
hyperbus_controller_tb.wdb
.cxl/
*.pb
.cxl*
.DS_Store
._.DS_Store
hyperbus_test_proj/hyperbus_test_proj.gen/
hyperbus_test_proj/hyperbus_test_proj.srcs/utils_1/
